body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}
.container{
    width: 1024px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}



header{
    padding: 15px 0 15px;
    background-color: #fff;
}
header .container{
    justify-content: space-between;
    align-items: center;
}
.navigation-block ul{
    list-style-type: none;
    padding-left: 0;
}
.navigation-block ul li{
    margin-left: 15px;
    display: inline-block;
}
.navigation-block ul li a{
    padding:0 0 4px;    
}
.navigation-block ul li:first-child{
    margin-left: 0;
}
li a{
    color:darkblue;
}
a.active{
    font-weight: bold;
    border-bottom: 1px solid darkblue;
}
.contact-button{
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    background-color: #62D0DF;
    color: white;
}



.hero-block{
    background-color: #62D0DF;
    background-image: url(../img/header.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
}
.hero-text{
    flex-direction: column;
    width: 60%;
    color: #fff;
    padding-top: 100px;
    font-size: 26px;
}
.hero-text h3{
    font-size: 30px;
}
.container figure{
    width: 30%;
}
.hero-img{
    width: 100%;
}