body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}
.container{
    width: 1024px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #333;
    transition: .3s;
}
a:hover{
    color: #633;
}




header{
    padding: 15px 0 15px;
    background-color: #fff;
}
header .container{
    justify-content: space-between;
    align-items: center;
}
.navigation-block ul{
    list-style-type: none;
    padding-left: 0;
}
.navigation-block ul li{
    margin-left: 15px;
    display: inline-block;
}
.navigation-block ul li a{
    padding:0 0 4px;    
}
.navigation-block ul li:first-child{
    margin-left: 0;
}
a.active{
    font-weight: bold;
    border-bottom: 1px solid darkblue;
}
.contact-button{
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    background-color: #62D0DF;
    color: white;
}



.hero-block{
    background-color: #62D0DF;
}
.hero-block .container{
    background-image: url(../img/header.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 550px;
}
.hero-text{
    flex-direction: column;
    padding-right: 45%;
    color: #fff;
    padding-top: 80px;
    font-size: 26px;
}
.hero-text h3{
    font-size: 30px;
}
.container figure{
    width: 30%;
}
.hero-img{
    width: 100%;
}



.title{
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 24px;
    position: relative;
}
.title::before{
    content: '';
    position: absolute;
    width: 130px;
    background-color: #000;
    height: 4px;
    top: 90%;
}



#my-examples{
    background-color: rgb(255, 227, 217);
}
.content{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}
.card{
    width: 31%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 15px;
    margin-bottom: 25px;
    transition: .3s;
}
.card:hover{
    box-shadow: 0 0 10px -1px #999;
}
.card:hover > .card-img{
    opacity: .7;
}
.card-hidden{
    visibility:hidden;
}
.card-img{
    background-color: #ccc;
    background-image: url(../img/card-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    transition: .3s;
}
.card-text{
    padding: 20px 15px;
    background-color: white;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
.card-text h3{
    margin-top: 0;
}
.card-text p{
    color: #3f3f3f;
    text-indent: 25px;
    text-align: justify;
}